# passwords
# see vault-credentials.yml and ~/my-vault-pass
#
# !!! which special chars cause a problem? 
# ran experiments with these crazy passwords
# admin_password='@£$%^&*()_+-={}|[]\:;<>?,./'
# :( lost the results

[automationcontroller]
aapcontrol.{{ lab_domain }}

[automationcontroller:vars]
node_type=hybrid
peers=execution_nodes

[execution_nodes]

[automationhub]
aaphub.{{ lab_domain }}

[automationcatalog]

[database]
aaphub.{{ lab_domain }}

[sso]

[all:vars]

# Controller
# certificate and key to install in nginx for the web UI and API
web_server_ssl_cert='/var/tmp/aapcontrol.{{ lab_domain }}.pem'
web_server_ssl_key='/var/tmp/aapcontrol.{{ lab_domain }}.key'
# Receptor settings for controller
receptor_listener_port=27199
admin_password='{{ default_password }}'
# admin_password='@£$%^&*()_+-={}|[]\:;<>?,./'

# PostgreSQL settings for controller
pg_host='aaphub.{{ lab_domain }}'
pg_port=5432
pg_database='awx'
pg_username='awx'
pg_password='{{ default_password }}'
# pg_password='@£$%^&*()_+-={}|[]\:;<>?,./'
# urlencode test 
# doesnt get decoded
# echo 'a!@£$%^:";1' | jq --raw-input --raw-output @uri
#pg_password='a!%40%C2%A3%24%25%5E%3A%22%3B1'
#pg_password='a!@£$%^:";1'
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

# Credentials for container registry to pull execution environment images from
# Not available in an offline install
registry_url='registry.redhat.io'
registry_username='{{ rhsm_user}}'
registry_password='{{ rhsm_password }}' # see 'passwords' comment
ee_from_hub_only = True
ee_29_enabled = True

# Automation Hub
#automationhub_admin_password='@£$%^&*()_+-={}|[]\:;<>?,./'
automationhub_admin_password='{{ default_password }}'
# automationhub_admin_password='Two.special.ch@rs'
# setup expects to find these files on installer host, not on the managed node
automationhub_ssl_cert='/var/tmp/aaphub.{{ lab_domain }}.pem'
automationhub_ssl_key='/var/tmp/aaphub.{{ lab_domain }}.key'

# PostgreSQL settings for hub
automationhub_pg_host='aaphub.{{ lab_domain }}'
automationhub_pg_port=5432
automationhub_pg_database='automationhub'
automationhub_pg_username='automationhub'
automationhub_pg_password='{{ default_password }}'
# automationhub_pg_password='@£$%^&*()_+-={}|[]\:;<>?,./'
automationhub_pg_sslmode='prefer'
