# untested 
# blog https://www.redhat.com/sysadmin/systemd-oneshot-service
# vim /etc/systemd/system/build.service
# systemctl daemon-reload

[Unit]
Description=build application virtual machines

[Service]
Type=oneshot
RemainAfterExit=yes
# This script slowly starts virtual machines
ExecStart=/root/libvirt/build-start.sh

# This script slowly stops virtual machines
ExecStop=/root/libvirt/build-stop.sh

[Install]
WantedBy=multi-user.target
